
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" asp-controller="Account" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" value="user1@outlook.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" value="Password12*" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" name="rememberMe" class="form-check-input" id="exampleCheck1" onchange="check()">
    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
  </div>
  <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>

<script>
function check() {
    if (document.getElementById("exampleCheck1").checked == true) {
        document.getElementById("exampleCheck1").value = true;
    }
    else {
        document.getElementById("exampleCheck1").value = false;
    }
}
</script>